.drawer-wrapper{
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
}

.drawer-button-background{
    position: absolute;
    right: 738px;
    top: 170px;
    display: flex;
    transform: rotate(90deg);
    
}

.drawer-button-open{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 7px solid #1D91D0;
    color: #1D91D0;
    cursor: pointer;
    background: #fff;
}

.drawer-button-open-title{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding-bottom: 3px;
}

.preview-content-wrapper{
    width: 755px;
    height: 85%;
    margin: 5% 0;
    margin-left: 51px;
    background: #fff;
    padding: 20px;
    overflow: scroll;
}


.preview-content-wrapper::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.preview-content-wrapper::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.MuiDrawer-paper{
    background-color: transparent !important;
    box-shadow: unset !important;
}

.previe-title{
    color: rgb(29, 145, 208);
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 20px; 
}

.preview-content-button-list{
    /* position: absolute;
    display: flex;
    justify-content: space-between;
    width: 755px;
    top: 45%; */
}

.preview-content-button-left{
    position: absolute;
    height: 80%;
    width: 10%;
    display: flex;
    align-items: center;
    opacity: 0.2;
    color: #999;
}

.preview-content-button-left:hover{
    opacity: 1;
    color:rgb(29, 145, 208);
}

.preview-content-button-left > svg{
    font-size: 60px;
}

.preview-content-button-right{
    position: absolute;
    height: 80%;
    width: 10%;
    display: flex;
    align-items: center;
    right: 0;
    opacity: 0.2;
    color: #999;
}

.preview-content-button-right:hover{
    opacity: 1;
    color:rgb(29, 145, 208);
}

.preview-content-button-right > svg{
    font-size: 60px;
}

.preview-content-empty{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #999;
}